@import "tailwindcss";

@theme {
  --color-background: #0D1117;
  --color-accent: #00C6FF;
  --color-highlight: #38BDF8;
  --color-text: #E2E8F0;
}

html {
  scroll-behavior: smooth;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}
